<div class="filter-header flex-center" *ngIf="!isMobileTabDisplay">
  <mat-icon>filter_list</mat-icon><span>Filters</span>
</div>
<div class="filter-content" [formGroup]="filterForms">
  <div class="field">
    <label>Name</label>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>person_search</mat-icon>
      <input matInput placeholder="search" formControlName="name" />
    </mat-form-field>
  </div>
  <div class="field">
    <label>Age</label>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="select"
        formControlName="age"
        [disableOptionCentering]="true"
      >
        <mat-option value="">All</mat-option>
        <mat-option value="less">Less than 18</mat-option>
        <mat-option value="between">Between 18 and 25</mat-option>
        <mat-option value="more">More than 25</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="field">
    <label>Salary</label>
    <div class="field-salary">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="number"
          formControlName="minSalary"
          placeholder="min."
        />
      </mat-form-field>
      <span> - </span>
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          type="number"
          formControlName="maxSalary"
          placeholder="max."
        />
      </mat-form-field>
    </div>
  </div>
  <div class="field">
    <label>Status</label>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="select"
        formControlName="status"
        [disableOptionCentering]="true"
      >
        <mat-option value="">All</mat-option>
        <mat-option value="active">Active</mat-option>
        <mat-option value="inactive">Inactive</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="field">
    <label>Group</label>
    <mat-form-field appearance="outline">
      <mat-select
        placeholder="select"
        multiple="true"
        formControlName="groups"
        (openedChange)="selectedGroup($event)"
        [disableOptionCentering]="true"
        panelClass="custom-multiple-select"
      >
        <mat-option value="all" (click)="updateDropdown('all')">All</mat-option>
        <mat-option
          *ngFor="let group of groups"
          [value]="group"
          (click)="updateDropdown(group)"
          >{{ group }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
