.content-detail {
  display: flex;
  width: 100%;
  .card-detail {
    width: 50%;
    h3 {
      font-weight: 700;
    }
    .field {
      display: flex;
      align-items: baseline;
      width: 100%;
      p:nth-of-type(1) {
        width: 20%;
        font-weight: 500;
      }
      p:nth-of-type(2) {
        width: 80%;
      }
      .flat-button {
        padding: 0 10px;
        line-height: 28px;
        cursor: initial;
      }
    }
  }
  .card-detail:nth-of-type(1) {
    margin-right: 1rem;
  }
}
.actions {
  margin: 1rem 0;
}
.mat-icon {
  margin-right: 0.5rem;
}
@media screen and (max-width: 768px) {
  .content-detail {
    width: 100% !important;
    display: block !important;
  }
  .card-detail {
    display: block !important;
    width: 70% !important;
    margin: 0 auto 10px !important;
  }
  .field {
    display: block !important;
    width: 100% !important;
    p {
      display: block !important;
      width: 100% !important;
    }
    p:first-child {
      margin: 10px 0 0;
    }
    .flat-button {
      border: none;
      background-color: transparent;
      color: initial;
      padding: 0 !important;
      text-align: left;
      font-weight: 400;
    }
  }
}
