<mat-card
  class="default-card"
  [ngClass]="isMobileTabDisplay ? 'card-employee-mobile' : 'card-employee'"
>
  <div class="actions flex-baseline" *ngIf="isMobileTabDisplay">
    <button
      mat-icon-button
      class="default-background"
      style="background-color: #3f51b5"
      matTooltip="Add new employee"
      (click)="goToForm('new')"
    >
      <mat-icon>add</mat-icon>
    </button>
    <button
      mat-icon-button
      class="default-background"
      style="background-color: #3f51b5"
      matTooltip="Sort by"
      [matMenuTriggerFor]="menu"
    >
      <mat-icon>sort</mat-icon>
    </button>
    <button
      mat-icon-button
      class="default-background"
      style="background-color: #3f51b5"
      matTooltip="Filter by"
      (click)="setIsShowFilter()"
    >
      <mat-icon>filter_list</mat-icon>
    </button>
    <button
      mat-icon-button
      class="default-background"
      style="background-color: #3f51b5"
      (click)="resetTable()"
      matTooltip="Reset"
    >
      <mat-icon>clear_all</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <ng-container *ngFor="let option of sortColumns">
        <button mat-menu-item (click)="sortedBy(option?.value, 'asc')">
          Asc. {{ option?.label }}
        </button>
        <button mat-menu-item (click)="sortedBy(option?.value, 'desc')">
          Desc. {{ option?.label }}
        </button>
      </ng-container>
    </mat-menu>
  </div>
  <div
    class="filter-section"
    *ngIf="!isMobileTabDisplay || (isMobileTabDisplay && isShowFilter)"
  >
    <app-employee-filter
      [isMobileTabDisplay]="isMobileTabDisplay"
    ></app-employee-filter>
  </div>
  <div
    [ngClass]="
      isMobileTabDisplay && !dataSource.data.length
        ? 'table-section-mobile no-data-mobile'
        : isMobileTabDisplay && dataSource.data.length
        ? 'table-section-mobile'
        : 'table-section'
    "
  >
    <div class="actions flex-baseline" *ngIf="!isMobileTabDisplay">
      <button mat-raised-button color="primary" (click)="goToForm('new')">
        Add Employee
      </button>
      <button mat-raised-button color="primary" (click)="resetTable()">
        Reset
      </button>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element?.username">
          {{ element?.username }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-sort-header="name" mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element?.name">
          {{ element?.name | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element" [matTooltip]="element?.email">
          {{ element?.email }}
        </td>
      </ng-container>
      <ng-container matColumnDef="birthDate">
        <th mat-sort-header="birthDate" mat-header-cell *matHeaderCellDef>
          Date of birth
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element?.birthDate | date : 'dd/MM/yyyy' }}"
          class="has_label_on_mobile"
          data-label="Birth"
        >
          {{ element?.birthDate | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="basicSalary">
        <th mat-sort-header="basicSalary" mat-header-cell *matHeaderCellDef>
          Salary
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{
            element?.basicSalary | currency : 'Rp' : 'symbol' : '3.0'
          }}"
          class="has_label_on_mobile"
          data-label="Salary"
        >
          {{ element?.basicSalary | currency : "Rp" : "symbol" : "3.0" }}
        </td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td
          mat-cell
          *matCellDef="let element"
          matTooltip="{{ element?.status | titlecase }}"
          class="m-card-sub-title"
        >
          {{ element?.status | titlecase }}
        </td>
      </ng-container>
      <ng-container matColumnDef="group">
        <th mat-sort-header="group" mat-header-cell *matHeaderCellDef>Group</th>
        <td
          mat-cell
          *matCellDef="let element"
          class="has_label_on_mobile"
          data-label="Group"
          [matTooltip]="element?.group"
        >
          {{ element?.group }}
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            matTooltip="View"
            class="button-primary"
            (click)="viewEmployee(element?.id)"
          >
            <mat-icon>visibility</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Edit"
            class="button-accent"
            (click)="goToForm('edit', element?.id)"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-icon-button
            matTooltip="Delete"
            class="button-warn"
            (click)="deleteEmployee(element?.id)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="loading">
        <th mat-header-cell *matHeaderCellDef colspan="8" class="text-center">
          <div class="center-spinner">
            <mat-spinner></mat-spinner>
          </div>
        </th>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-header-row
        *matHeaderRowDef="['loading']"
        [hidden]="!isLoading"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [hidden]="isLoading"
      ></tr>
    </table>
    <div *ngIf="!dataSource?.data?.length" class="no-data">No Data</div>

    <mat-paginator
      [pageSizeOptions]="[10, 20]"
      [ngClass]="{ hide: !dataSource.data.length || isLoading }"
      showFirstLastButtons
    >
    </mat-paginator>
  </div>
</mat-card>
