.mat-card {
  padding: 1rem 4rem;
  .content-form {
    .field {
      display: flex;
      align-items: baseline;
      width: 100%;
      .field-50 {
        width: 50%;
        display: flex;
        align-items: baseline;
        mat-label {
          width: 20%;
          padding-right: 1rem;
        }
        mat-form-field {
          width: 80%;
        }
      }
      .field-50:nth-of-type(1) {
        padding-right: 1rem;
      }
    }
    .action-form {
      margin-top: 1rem;
      button {
        margin-right: 10px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .mat-card{
    padding: 1rem 2rem;
  }
  .field,.field-50,.mat-label,.mat-form-field{
    display: block !important;
    width: 100% !important;
  }
  .mat-label{
    padding-right: 0;
  }
}